*{
    margin: 0;
    padding: 0;
}
body{
   width: 1260px; 
   margin: 0 auto;
    box-sizing: border-box;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    width: 100%;
    margin: 20px 0;

}
.card{
    /* width:30% ; */
    box-shadow: 5px 5px 10px rgba(0 ,0, 0, .8);
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.card-image{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.card-image img{
    width: 100%;
}
.text{
    width: 100%;
    padding: 20px 10px 30px;
    box-sizing: border-box;
    line-height: 1.5;
}
h3{
    font-size: 2em;
}
h4{
    font-size: 1.5em;
}
p{
    font-size:18px ;
}
.fa-solid{
    color: rgb(220, 220, 6);
    font-size: 18px;
}


@media only screen and (max-width:576px){
    .card-container{
        width: 100%;
        box-sizing: border-box;
        grid-template-columns: auto;
        justify-content: center;
    }
    .card{
        box-sizing: border-box  ;
        justify-content: center;
    }
    .card img{
        width: 100%;
    }
    .text{
        text-align: center;
    }
    .text p{
        font-size: 20px
    }
}
@media only screen and (min-width:577px) and (max-width:992px){
    .card-container{
        width: 100%;
        box-sizing: border-box;
        grid-template-columns: auto auto;
        justify-content: center;
    }
    .card{
        box-sizing: border-box  ;
        justify-content: center;
    }
    .card img{
        width: 100%;
    }
    .text{
        text-align: center;
    }
    .text p{
        font-size: 20px
    }
}












